@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body {
    background-color: black;
    color:white;
    text-align: center;
    font-family: "Nerko One", cursive;
}
.row img {
    border: 10px solid #0b0b0b;
}   
.footer {
    background-color: #0b0b0b;
    color: white;
    margin-bottom: -1%;
    border: 1px solid #0b0b0b;
}
