<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header class="top-bar">
        <div class="logo">
            <img src="/static/logo.png" alt="Logo">
        </div>
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search..."/>
                <input type="submit" value="Search!" />
            </form>
        </div>
    </header>

    <div class="content">
        <div class="logobig">
            <img src="/static/logob.png" alt="Logo">
        </div>
        <h4>(quote of the day)</h4>
        <p>ffs, why did I even make it</p>
        
        <div class='row'>
            {% for res in x %}
                {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}
                    <br>
                {% endif %}
                <img src="{{ res }}" width="386" height="200" />
            {% endfor %}
        </div>
    </div>


    <div class='footer'>
        <p>theres a pipe bomb in your titanic client</p>
        <p>osuTitanic 2023-2024</p>
    </div>
</body>
</html>
